* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(7, 37, 49);
    height: auto;
    display: flex;
    justify-content: center;
}

#banner-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#banner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-bottom: 3px;
    border-bottom-style: inset;
    border-color: rgb(255, 255, 255);
}

.gradient {
    display: none;
    width: 100%;
    height: 150px;
    margin-top: -1px;
    background-image: linear-gradient(rgb(48, 196, 255), rgb(28, 116, 151), rgb(7, 37, 49));
}

#trailer-container {
    margin-top: 75px;
    width: 100%;
    height: auto;
    background-color: rgb(7, 37, 49);
}

.content {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-evenly;
}

.trailer {
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    border-radius: 30px;
    box-shadow: -30px 30px 70px 40px #000000;

}

#sinopse {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    color: aliceblue;
    font-family: "Bourgeois W00 Medium","Arial Regular",Arial,sans-serif;
    font-size: 135%;
    transition: 0.5s;
    font-weight: 600;
}

#season10 {
    width: 115%;
    transition: 1.5s;
}

#season10:hover {
    transform: scale(1.05)
}

p {
    margin-top: 13px;
}

.button {
    width: 100%;
    height: 70px;
    border-radius: 50px;
    border-style: none;
    font-family: "Bourgeois W00 Medium","Arial Regular",Arial,sans-serif;
    font-size: 30px;
    transition: 0.5s;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 197, 255);
    cursor: pointer;
    margin-top: 20px;

}

.button:hover {
    font-size: 40px;
    color: rgb(50, 197, 255);
    background-color: rgb(255, 255, 255);

}


#rocket-card-container {
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(7, 37, 49);
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    background-size: cover;
    padding: 0px 0px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 93%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    font-family: "Bourgeois W00 Medium","Arial Regular",Arial,sans-serif;
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.6s;
}

.card:hover {
    transform: scale(1.04);
}



.banner-1 {
    background-position: 50%;
    background-image: url('../../assets/dead_eye.png');
}

.banner-2 {
    background-position: 70%;
    background-image: url(https://rocketleague.media.zestyio.com/rl_s10_rp_16-9_no-logo.HyLoJ20Cs.jpg?width=1920&optimize=high);
}

.banner-3 {
    background-position: 55%;
    background-image: url('../../assets/pass.png');
}

@media(max-width: 768px) {

    .content {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .trailer {
        width: 90%;
        height: auto;
        display: flex;
        position: relative;
        border-radius: 30px;
        box-shadow: -10px 10px 70px 20px #000000;
    
    }
    
    #sinopse {
        margin-top: 50px;
        margin-left: 0px;
        width: 80%;
        font-size: 16px;
    }

    #season10 {
        width: 100%;
    }

    .cards-content {
        display: flex;
        flex-direction: column;
    }

    .card {
        height: 400px;
    }

}